<h2>Sign up</h2>


<div class="row">
  <div class="col-md-offset-3, col-md-6">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                        wrapper: :horizontal_form,
                        html: {class: 'form-horizontal'},
                        wrapper_mappings: {
                                check_boxes: :horizontal_radio_and_checkboxes,
                                radio_buttons: :horizontal_radio_and_checkboxes,
                                file: :horizontal_file_input,
                                boolean: :horizontal_boolean
                        }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, placeholder: 'Enter email',autofocus: true %>

        <%= f.input :password, placeholder: 'Password' %>
        <%= f.input :password_confirmation, placeholder: 'Password' %>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
            <br/>
            <%= render "devise/shared/links" %>
          </div>
        </div>
    <% end %>

  </div>
</div>